# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
migrations/
# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/
/migrations
/__pycache__

# -----------------------------
# Django
# -----------------------------
*.log
*.pot
*.pyc
*.env
db.sqlite3
media/
staticfiles/
*.
# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Docker
# -----------------------------
docker-compose.override.yml

# -----------------------------
# Coverage / Testing
# -----------------------------
htmlcov/
.coverage
coverage.xml
*.cover
.pytest_cache/

# -----------------------------
# Build / Dist
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Logs
# -----------------------------
logs/
*.log

# -----------------------------
# Node (if later frontend added)
# -----------------------------
node_modules/

# -----------------------------
# Jupyter / notebooks (optional)
# -----------------------------
.ipynb_checkpoints/